<%= form_with(model: receiver, local: true) do |form| %>
  <% if receiver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receiver.errors.count, "error") %> prohibited this receiver from being saved:</h2>

      <ul>
      <% receiver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field <%= get_style_classes('form-input-div') %>">
    <%= form.label :name, class: get_style_classes('form-label-text-input') %>
    <%= form.text_field :name, id: :receiver_name, class: get_style_classes('form-text-input') %>
  </div>

  <div class="field <%= get_style_classes('form-input-div') %>">
    <%= form.label :email, class: get_style_classes('form-label-text-input') %>
    <%= form.text_field :email, id: :receiver_email, class: get_style_classes('form-text-input') %>
  </div>

  <div class="actions">
    <%= form.submit class: get_style_classes('form-submit') %>
  </div>
<% end %>
