<%= form_with(model: receiver, local: true) do |form| %>
  <% if receiver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receiver.errors.count, "error") %> prohibited this receiver from being saved:</h2>

      <ul>
      <% receiver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :receiver_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :receiver_email %>
  </div>

  <div class="field">
    <%= form.label :sender_id %>
    <%= form.select :sender_id, options_for_select(Sender.all.map { |s| [s.name, s.id] }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
