<%= snackbar_notifications(notice, alert).html_safe %>

<h1 class="<%= get_style_classes('h1-title') %>" >Receivers</h1>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Sender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receivers.each do |receiver| %>
      <tr>
        <td><%= receiver.name %></td>
        <td><%= receiver.email %></td>
        <td><%= receiver.sender.email %></td>
        <td><%= link_to 'Show', receiver, class:get_style_classes('btn-show') %></td>
        <td><%= link_to 'Edit', edit_receiver_path(receiver), class: get_style_classes('btn-edit') %></td>
        <td><%= link_to 'Destroy', receiver, method: :delete, data: { confirm: 'Are you sure?' }, class: get_style_classes('btn-destroy') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Receiver', new_receiver_path, class: get_style_classes('btn-new') %>
