<%= snackbar_notifications(notice, alert).html_safe %>

<p>
  <strong>Name:</strong>
  <%= @receiver.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @receiver.email %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @receiver.sender.email %>
</p>

<%= link_to 'Edit', edit_receiver_path(@receiver), class: get_style_classes('btn-edit') %> |
<%= link_to 'Back', receivers_path, class: get_style_classes('btn-back') %>
