<%= form_with(model: template, local: true) do |form| %>
  <% if template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field <%= get_style_classes('form-input-div') %>">
    <%= form.label :title, class: get_style_classes('form-label-text-input') %>
    <%= form.text_field :title, id: :template_title, class: get_style_classes('form-text-input') %>
  </div>

  <div class="field <%= get_style_classes('form-input-div') %>">
    <p>To use a variable in your message, put it between "{{}}". E.g. {{var}}</p>
    <%= form.label :body %>
    <%= form.text_area :body, id: :template_body, class: get_style_classes('form-text-input') %>
  </div>
  
  <div class="actions">
    <%= form.submit class: get_style_classes('form-submit') %>
  </div>
<% end %>
