<%= snackbar_notifications(notice, alert).html_safe %>

<p>
  <strong>Title:</strong>
  <%= @template.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @template.body %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @template.sender.email %>
</p>

<%= link_to 'Edit', edit_template_path(@template), class: get_style_classes('btn-edit') %> |
<%= link_to 'Back', templates_path, class: get_style_classes('btn-back') %>
