<%= snackbar_notifications(notice, alert).html_safe %>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Private:</strong>
  <%= @group.private %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @group.sender.email %>
</p>

<p>
  <strong>Receivers:</strong>
  <ol>
    <%= @group.receivers.map { |receiver| "<li>#{ link_to receiver.email, receiver }</li>" }.join.html_safe %>
  </ol>
</p>

<%= link_to 'Edit', edit_group_path(@group), class: get_style_classes('btn-edit') %> |
<%= link_to 'Back', groups_path, class: get_style_classes('btn-back') %>

