<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Private:</strong>
  <%= @group.private %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @group.sender.email %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
