<%= form_with(model: sender, local: true) do |form| %>
  <% if sender.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sender.errors.count, "error") %> prohibited this sender from being saved:</h2>

      <ul>
      <% sender.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field <%= get_style_classes('form-input-div') %>">
    <%= form.label :email, class: get_style_classes('form-label-text-input') %>
    <%= form.text_field :email, id: :sender_email, class: get_style_classes('form-text-input') %>
  </div>
  <br />

  <% if sender.persisted? %>
    <div class="field <%= get_style_classes('form-input-div') %>">
      <%= form.label :old_password, class: get_style_classes('form-label-text-input') %>
      <%= form.password_field :old_password, id: :old_password, class: get_style_classes('form-text-input') %>
    </div>
    <br />
  <% end %>

  <div class="field <%= get_style_classes('form-input-div') %>">
    <%= form.label :new_password, class: get_style_classes('form-label-text-input') %>
    <%= form.password_field :new_password, id: :new_password, class: get_style_classes('form-text-input') %>
  </div>
  <br />

  <% if sender.persisted? %>
    <div class="field <%= get_style_classes('form-input-div') %>">
      <%= form.label :confirm_password, class: get_style_classes('form-label-text-input') %>
      <%= form.password_field :confirm_password, id: :confirm_password, class: get_style_classes('form-text-input')  %>
    </div>
    <br />
  <% end %>

  <div class="actions">
    <%= form.submit class: get_style_classes('form-submit') %>
  </div>
<% end %>
