<%= snackbar_notifications(notice, alert).html_safe %>

<p>
  <strong>Email:</strong>
  <%= @sender.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @sender.password_digest %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @sender.admin %>
</p>

<p>
  <strong>Client:</strong>
  <%= @sender.client %>
</p>

<%= link_to 'Edit', edit_sender_path(@sender), class: get_style_classes('btn-edit') %> |
<%= link_to 'Back', senders_path, class: get_style_classes('btn-back') %>
