<%= form_with(model: email, local: true) do |form| %>
  <% if email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :template %>
    <%= form.select :template,
                    options_for_select(@templates.map { |t| [t.title, t.body] }),
                    { include_blank: true },
                    :id => :email_template
    %>
    <p id="empty_template" style="display: none;">Warning: this template is empty.</p>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :email_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <% no_vars = email.vars.nil? || email.vars == '{}' %>
    <%= react_component('VarsTable', {
        text: email.body.nil? ? '' : email.body,
        values: no_vars ? [] : email.vars['values'],
        defaultVars: no_vars ? ['email'] : email.vars['vars'] })
    %>
  </div>

  <div class="field">
    <%= form.label :schedule %>
    <%= form.datetime_select :schedule, id: :email_schedule %>
  </div>

  <div class="actions">
    <%= form.submit 'Enviar email' %>
  </div>
<% end %>
