<%= form_with(model: email, local: true) do |form| %>
  <% if email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field <%= get_style_classes('form-input-div') %>">
    <%= form.label :template, class: get_style_classes('form-label-select-input') %>
    <%= form.select :template,
                    options_for_select(@templates.map { |t| [t.title, t.body_without_images] }),
                    { include_blank: true },
                    :id => :email_template,
                    :class => get_style_classes('form-select-input')
    %>
    <p id="empty_template" style="display: none;">Warning: this template is empty.</p>
  </div>
  <br />

  <div class="field <%= get_style_classes('form-input-div') %>">
    <%= form.label :title, class: get_style_classes('form-label-text-input') %>
    <%= form.text_field :title, id: :email_title, class: get_style_classes('form-text-input') %>
  </div>

  <div class="field">
    <% no_vars = email.vars.nil? || email.vars == '{}' %>
    <%= react_component('VarsTable', {
          text: email.body.nil? ? '' : email.body,
          values: no_vars ? [] : email.vars['values'],
          defaultVars: no_vars ? ['email'] : email.vars['vars'],
          useVars: true,
          entity: 'email'
        })
    %>
  </div>

  <div class="field <%= get_style_classes('form-input-div') %>">
    <%= form.label :schedule, class: get_style_classes('form-label-text-input') %>
    <%= form.datetime_select :schedule, id: :email_schedule %>
  </div>

  <div class="actions">
    <%= form.submit 'Enviar email', class: get_style_classes('form-submit') %>
  </div>
<% end %>
