<%= form_with(model: email, local: true) do |form| %>
  <% if email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field <%= get_style_classes('form-input-div') %>">
    <%= form.label :schedule, class: get_style_classes('form-label-text-input') %>
    <%= form.datetime_select :schedule, id: :email_schedule %>
  </div>

  <div class="field <%= get_style_classes('form-input-div') %>">
    <%= form.label :title, class: get_style_classes('form-label-text-input') %>
    <%= form.text_field :title, id: :email_title, class: get_style_classes('form-text-input') %>
  </div>

  <div class="field <%= get_style_classes('form-input-div') %>">
    <%= form.label :body, class: get_style_classes('form-label-text-input') %>
    <%= form.text_area :body, id: :email_body %>
  </div>

  <div class="field <%= get_style_classes('form-input-div') %>">
    <%= form.label :receiver_id, class: get_style_classes('form-label-text-input') %>
    <%= form.select :receiver_id, options_for_select(Receiver.all.map { |r| [r.name, r.id] }) %>

  </div>

  <div class="field <%= get_style_classes('form-input-div') %>">
    <%= form.label :group_id, class: get_style_classes('form-label-text-input') %>
    <%= form.select :group_id, options_for_select(Group.all.map { |g| [g.name, g.id] }) %>
  </div>

  <div class="actions">
    <%= form.submit 'Enviar email', class: get_style_classes('form-submit') %>
  </div>
<% end %>
