<%= snackbar_notifications(notice, alert).html_safe %>

<h1 class="<%= get_style_classes('h1-title')%>" >Emails</h1>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Schedule</th>
      <th class="mdl-data-table__cell--non-numeric">Title</th>
      <th class="mdl-data-table__cell--non-numeric">Sender</th>
      <th class="mdl-data-table__cell--non-numeric" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.schedule %></td>
        <td><%= email.title %></td>
        <td><%= email.sender.name %></td>
        <td><%= link_to 'Show', email, class:get_style_classes('btn-show') %></td>
        <td><%= link_to 'Edit', edit_email_path(email), class:get_style_classes('btn-edit') %></td>
        <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' }, class:get_style_classes('btn-destroy') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email', new_email_path, class:get_style_classes('btn-new') %>
