<%= snackbar_notifications(notice, alert).html_safe %>

<p>
  <strong>Schedule:</strong>
  <%= @email.schedule %>
</p>

<p>
  <strong>Title:</strong>
  <%= @email.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @email.body %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @email.sender.email %>
</p>

<p>
  <strong>Receiver:</strong>
  <ol>
    <%= @email.receivers.map { |receiver| "<li>#{ link_to receiver.email, receiver }</li>" }.join.html_safe %>
  </ol>
</p>

<p>
  <strong>Group:</strong>
  <ol>
    <%= @email.groups.map { |group| "<li>#{ link_to group.name, group }</li>" }.join.html_safe %>
  </ol>
</p>

<%= link_to 'Edit', edit_email_path(@email), class:get_style_classes('btn-edit') %> |
<%= link_to 'Back', emails_path, class:get_style_classes('btn-back') %>
